<div class="toolbox-container">
  <div class="toolbox-search">
    <mat-form-field
      [subscriptSizing]="'dynamic'"
      appearance="outline"
      class="search-field"
    >
      <mat-label>{{ searchPlaceholder() }}</mat-label>
      <input
        matInput
        [value]="searchText()"
        (input)="onSearchChange($any($event.target).value)"
        type="text"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>

  <div class="toolbox-list">
    <div class="toolbox-items">
      @for (item of filteredItems(); track trackByFn($index, item)) {
      <div
        class="toolbox-item"
        [dndDraggable]="item"
        dndEffectAllowed="copy"
        (click)="onItemClick(item)"
      >
        <ng-container
          *ngTemplateOutlet="resolveTemplate(item) ?? defaultItemTemplate; context: { $implicit: item }"
        ></ng-container>
      </div>
      } @empty { @if (!hasItems()) {
      <div class="no-results">
        <mat-icon class="w-200">stack_off</mat-icon>
        <p i18n="@@cn.ide-toolbox.no-items-available">No items available</p>
      </div>
      } @else if (hasSearchText()) {
      <div class="no-results">
        <mat-icon class="w-200">search_off</mat-icon>
        <p i18n="@@cn.ide-toolbox.no-items-found">No items found</p>
      </div>
      } }
    </div>
  </div>
</div>

<ng-template
  #defaultItemTemplate
  let-item
>
  <span class="item-title">{{ item.name }}</span>
</ng-template>
