<mat-form-field class="code-list-select-box">
  @if (label()) {
  <mat-label>{{ label() }}</mat-label>
  }

  <mtx-select
    [items]="allItems()"
    [value]="selectedItem()"
    [placeholder]="placeholder()"
    [disabled]="isDisabled()"
    [required]="required()"
    [searchFn]="searchFn"
    [compareWith]="compareWithFn"
    [clearable]="!required()"
    (change)="onSelectionChange($event)"
    (blur)="onTouched()"
  > 
    <ng-template
      ng-label-tmp
      let-item="item"
    >
      @if (itemTemplate()) {
      <ng-container
        *ngTemplateOutlet="itemTemplate()!; context: { $implicit: item }"
      ></ng-container>
      } @else { {{ displayMemberSelector()(item) }} }
    </ng-template>

    <ng-template
      ng-option-tmp
      let-item="item"
    >
      @if (itemTemplate()) {
      <ng-container
        *ngTemplateOutlet="itemTemplate()!; context: { $implicit: item }"
      ></ng-container>
      } @else { {{ displayMemberSelector()(item) }} }
    </ng-template>
  </mtx-select>

  @if (insertFormComponent()) {
  <mat-icon
    matIconSuffix
    (click)="openInsertDialog()"
    class="add-icon"
    >add</mat-icon
  >
  }
</mat-form-field>
