<mat-form-field
class="pt-1 pb-3 form-sm"
  appearance="outline"
  subscriptSizing="dynamic"
>
  <mat-label i18n="@@code-list-link-form.filter">Filter</mat-label>
  <input
    matInput
    [ngModel]="filterValue()"
    (ngModelChange)="filterValue.set($event)"
  />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<mat-checkbox
  [ngModel]="showOnlySelected()"
  (ngModelChange)="showOnlySelected.set($event)"
  class="text-right"
>
  <ng-container i18n="@@code-list-link-form.show-selected">Show selected only</ng-container>
</mat-checkbox>

<cdk-virtual-scroll-viewport [itemSize]="itemSize()">
  <div *cdkVirtualFor="let item of pagedItems(); trackBy: trackItem">
    <div
      class="d-grid py-2 bb-1"
      style="grid-template-columns: auto 1fr; gap: 0.5rem"
    >
      <mat-checkbox
        [checked]="isSelected(item) || isImmutable(item)"
        [disabled]="isImmutable(item)"
        (change)="toggle(item, $event.checked)"
      >
      </mat-checkbox>
      <ng-container *ngTemplateOutlet="itemTemplate(); context: { $implicit: item }"></ng-container>
    </div>
  </div>
</cdk-virtual-scroll-viewport>

@if (paginate() && filteredItems().length > 0) {
<mat-paginator
  [length]="filteredItems().length"
  [pageSize]="currentPageSize()"
  [pageIndex]="pageIndex()"
  [pageSizeOptions]="pageSizeOptions()"
  [hidePageSize]="hidePageSize()"
  (page)="onPageChange($event)"
></mat-paginator>
}
