@if(filter()){
<mat-form-field appearance="outline" subscriptSizing="dynamic" class="search-field">
  <mat-label>Filter</mat-label>
  <input matInput type="text" [value]="searchQuery()" (input)="searchQuery.set($any($event.target).value)" />
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
}
<cn-list
  [items]="pagedItems()"
  [itemTemplate]="itemTemplate()"
  [itemDetailTemplate]="itemActionsTemplate()"
></cn-list>

@if (paginate() && filteredItems().length > 0) {
<mat-paginator
  [length]="filteredItems().length"
  [pageSize]="currentPageSize()"
  [pageIndex]="pageIndex()"
  [pageSizeOptions]="pageSizeOptions()"
  [hidePageSize]="hidePageSize()"
  (page)="onPageChange($event)"
></mat-paginator>
}
