@if(filter()){
<div class="d-flex mb-2" style="justify-content: flex-end;">
  <mat-form-field class="w-md-3 w-10 form-sm">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput type="text" [value]="searchQuery()" (input)="searchQuery.set($any($event.target).value)" />
  </mat-form-field>
</div>
}
<cn-list
  [items]="pagedItems()"
  [itemTemplate]="itemTemplate()"
  [itemDetailTemplate]="itemActionsTemplate()"
></cn-list>

@if (paginate() && filteredItems().length > 0) {
<mat-paginator
  [length]="filteredItems().length"
  [pageSize]="currentPageSize()"
  [pageIndex]="pageIndex()"
  [pageSizeOptions]="pageSizeOptions()"
  [hidePageSize]="hidePageSize()"
  (page)="onPageChange($event)"
  showFirstLastButtons="true"
></mat-paginator>
}
