.status-bar {
  border-top: 1px solid var(--mat-sys-outline);
  font-size: 0.75em;
  padding: 0.25em 1em;
  background: light-dark(aliceblue, var(--mat-sys-primary));
  height: fit-content;
}

// cf-ide-pane-content {
//   height: 100%;
//   display: inline-block;
// }

// @container sidebar-left (width < 240px) {
//   /* Change the flex direction of the .child element. */
//   .sidebar-tabs {
//     background-color: red;
//   }
//   .tab-label {
//     display: none;
//   }
//   .sidebar-tabs .mat-mdc-tab {
//     min-width: 40px !important;
//     width: 40px !important;
//     background-color: black;
//   }
// }

.nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  --mat-list-list-item-leading-icon-start-space: 12px;
  --mat-list-list-item-leading-icon-end-space: 12px;
}

.mat-mdc-list-item {
  border-radius: var(--mat-list-active-indicator-shape, var(--mat-sys-corner-full));
  --mat-focus-indicator-border-radius: var(
    --mat-list-active-indicator-shape,
    var(--mat-sys-corner-full)
  );
}
