<div style="height: 100%; display: flex; flex-direction: column">
  <div style="flex-grow: 1; overflow: hidden; min-height: 0">
    <as-split
      [gutterSize]="2"
      direction="horizontal"
      style="height: 100%"
    >
      @if (layoutService.leftPane().hasPortal() && layoutService.leftPane().visible()) {
      <as-split-area
        [size]="15"
        unit="percent"
      >
        <cf-ide-pane-content [pane]="layoutService.leftPane()">
          <ng-template [cdkPortalOutlet]="layoutService.leftPane().portal()"></ng-template>
        </cf-ide-pane-content>
      </as-split-area>
      }
      <as-split-area [size]="'*'">
        <as-split
          [gutterSize]="2"
          direction="vertical"
          style="height: 100%"
        >
          <as-split-area [size]="'*'">
            <cf-ide-document-editor [context]="context()"></cf-ide-document-editor>
          </as-split-area>
          @if (layoutService.bottomPane().hasPortal() && layoutService.bottomPane().visible()) {
          <as-split-area
            [size]="15"
            [minSize]="5"
          >
            <cf-ide-pane-content [pane]="layoutService.bottomPane()">
              <ng-template [cdkPortalOutlet]="layoutService.bottomPane().portal()"></ng-template>
            </cf-ide-pane-content>
          </as-split-area>
          }
        </as-split>
      </as-split-area>
      @if (layoutService.rightPane().hasPortal() && layoutService.rightPane().visible()) {
      <as-split-area [size]="15">
        <cf-ide-pane-content [pane]="layoutService.rightPane()">
          <ng-template [cdkPortalOutlet]="layoutService.rightPane().portal()"></ng-template>
        </cf-ide-pane-content>
      </as-split-area>
      }
    </as-split>
  </div>
  <!-- <mat-divider [inset]="true"></mat-divider> -->
  <div
    class="status-bar"
    style="min-height: 1rem"
  >
    Status bar
  </div>
</div>
