<div class="insert-form">
  @if (isLoading()) {
  <div class="loading-container">
    <p>Loading form...</p>
  </div>
  } @else {
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
  >
    <div
      class="grid my-2"
      style="--columns: 4"
    >
      <ng-container #formFieldsContainer></ng-container>
    </div>

    @if (form.invalid && form.touched) {
    <div class="form-errors">
      <p i18n="@@cn.form.errors">Please correct the errors above before submitting.</p>
    </div>
    }
  </form>
  }
</div>
